<!--재현님 차트-->
<!DOCTYPE html>
{% load static %}

<script>
    function display1(data){
           Highcharts.chart('container2', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '시청연령별 영화 Count'
                },
                subtitle: {
                    text: '선택한 OTT 플랫폼에서의 시청연령별 영화 개수 Count'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Movie Count'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '<b>{point.y} count</b>'
                },
                series: [{
                    name: 'Population',
                    colorByPoint: true,
                    data: data,
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#00000',
                        align: 'center',
                        format: '{point.y}',
                        y: 5, // 10 pixels down from the top
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                }]
            });
    };

//----------------------사용자 입력 후 서버요청 받기-------------------------
    function getdata(ott){
        $.ajax({
                url:'ages',
                data:{ott:ott},
                datatype:'JSON',
                success:function(data){
                    display1(data)},
                error:function(){}
        });
    };

    $(document).ready(function(){
        $('#bt').click(function(){
            ott = $('select[name="ott"]').val();
            getdata(ott);
        });
    });

</script>


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">시청연령 특성에 따른 영화 파악</h1>
    <p class="mb-4">이 페이지에서는 선택한 OTT 플랫폼에서 시청연령별 영화가 몇 개 있는지 파악하실 수 있습니다.</p>

    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-6 col-lg-7">
            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Movies by Age</h6>
                </div>
                <div class="card-body">
                    <select name="ott">
                        <option value="Netflix">Netflix</option>
                        <option value="Hulu">Hulu</option>
                        <option value="Prime Video">Prime Video</option>
                        <option value="Disney+">Disney+</option>
                    </select>
                    <button id="bt">SEARCH</button>
                    <br>
                    <div id="container2"></div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5 mb-4">
            <div class="card shadow mb-8">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">차트 설명</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 font-weight-bold text-dark">Bar Chart를 이용한 데이터 분석</h6><br>
                    <p>선택창에서 플랫폼을 선택하고 'SEARCH'버튼을 클릭하세요.</p>
                    <p>시청 연령별 영화 개수는 bar 위의 숫자로 확인할 수 있습니다. </p>
                    <p>
                    <li>0+ : 전체연령 시청 가능</li>
                    <li>7+ : 7세 이상 시청 가능</li>
                    <li>13+ : 13세 이상 시청 가능</li>
                    <li>16+ : 16세 이상 시청 가능</li>
                    <li>18+ : 18세 이상 시청 가능</li>
                    </p>
                    <p>애니메이션이 많은 Disney+에서 전체연령이 시청 가능한 영화가 다수 존재합니다.</p>
                    <a target="_blank" rel="nofollow" href="https://github.com/Songgplant">여기에 넣고 싶은 주소를&rarr;</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->