<!DOCTYPE html>
{% load static %}
<script>
    function chart1(data){
        Highcharts.chart('container1', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Netflix 플랫폼의 IMDB 평점 비율'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name} 점</b>:<br> {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'IMDb',
                colorByPoint: true,
                innerSize: '40%',
                data: data
            }]
        });
    };
    function chart2(data){
        Highcharts.chart('container2', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Hulu 플랫폼의 IMDB 평점 비율'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name} 점</b>:<br> {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'IMDb',
                colorByPoint: true,
                innerSize: '40%',
                data: data
            }]
        });
    };
    function chart3(data){
        Highcharts.chart('container3', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Prime Video 플랫폼의 IMDB 평점 비율'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name} 점</b>:<br> {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'IMDb',
                colorByPoint: true,
                innerSize: '40%',
                data: data
            }]
        });
    };
    function chart4(data){
        Highcharts.chart('container4', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Disney+ 플랫폼의 IMDB 평점 비율'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name} 점</b>:<br> {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'IMDb',
                colorByPoint: true,
                innerSize: '40%',
                data: data
            }]
        });
    };
//--------------------------------------------------------------------------------

    $(document).ready(function(){
        $.ajax({
            url:'imrate',
            data:{'ott':'Netflix'},
            datatype:'JSON',
            success:function(data){
                chart1(data);
                $.ajax({
                    url:'imrate',
                    data:{'ott':'Hulu'},
                    datatype:'JSON',
                    success:function(data){
                        chart2(data);
                        $.ajax({
                            url:'imrate',
                            data:{'ott':'Prime Video'},
                            datatype:'JSON',
                            success:function(data){
                                chart3(data);
                                $.ajax({
                                    url:'imrate',
                                    data:{'ott':'Disney+'},
                                    datatype:'JSON',
                                    success:function(data){
                                        chart4(data);
                                    }
                                });

                            }
                        });
                    }
                });
            }
        });
    });

</script>


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">IMDb 비율 확인</h1>
    <p class="mb-4">OTT 플랫폼별 IMDb 평점의 분포를 비율로 확인합니다.</p>

    <!-- Content Row -->
    <div class="row">

        <!-- Donut Chart -->
        <div class="col-xl-3 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">IMDB in Netflix</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="container1">
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-3 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">IMDB in Hulu</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="container2"></div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">IMDB in Prime Video</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="container3"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">IMDB in Disney+</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="container4"></div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.container-fluid -->>