<!DOCTYPE html>
{% load static %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 font-weight-bold text-gray-800">Hello, DATAO Page!</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-gradient-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="col-auto">
                                <div class="text-lg font-weight-bold text-gray-100 text-uppercase mb-1">
                                    NETFLIX 등록 영화
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-100">3,560개</div>
                            </div>
                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-gradient-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="col-auto">
                                <div class="text-lg font-weight-bold text-gray-100 text-uppercase mb-1">
                                    HULU 등록 영화
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-100">903개</div>
                            </div>
                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-gradient-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="col-auto">
                                <div class="text-lg font-weight-bold text-gray-100 mb-1">PRIME VIDEO 등록 영화
                                </div>
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-100">12,354개</div>
                            </div>
                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-gradient-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="col-auto">
                                <div class="text-lg font-weight-bold text-gray-100 text-uppercase mb-1">
                                    DISNEY+ 등록 영화
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-100">564개</div>
                            </div>
                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- 새로운 디즈니 훌루 넷플 프라임 하는 칸-->
        <div class="col-lg-4 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">DISNEY+</h6>
                </div>
                <div class="text-lg font-weight-bold text-black text-uppercase mb-1">
                    <div class="card-body">
                        <img class="img-fluid px-3 px-sm-1 mt-3 mb-4"
                             style="width: 250px; display: block; margin: 0 auto;"
                             src="{% static 'img/disney.png' %}" alt="...">
                        <p>Disney+</p>
                        <h6>Disney+는 월트 디즈니 본사에서 직접 운영하는 OTT 플랫폼입니다.
                            Disney+를 접속하려면 아래 링크를 클릭하세요.</h6>
                        <a target="_blank" rel="nofollow" href="https://www.preview.disneyplus.com/kr">Disney+ 페이지 바로가기&rarr;</a>
                    </div>
                </div>
                <div class="card-body">

                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">NETFLIX</h6>
                </div>
                <div class="text-lg font-weight-bold text-black text-uppercase mb-1">
                    <div class="card-body">
                        <img class="img-fluid px-3 px-sm-1 mt-3 mb-4"
                             style="width: 250px; display: block; margin: 0 auto;"
                             src="{% static 'img/netflix.jpg' %}" alt="...">
                        <p>Netflix+</p>
                        <h6>Netflix은 미국 넷플릭스주식회사에서 운영하는 OTT 플랫폼입니다.
                            Netflix를 접속하려면 아래 링크를 클릭하세요.</h6>
                        <a target="_blank" rel="nofollow" href="https://www.netflix.com/kr/">Netflix 페이지 바로가기&rarr;</a>
                    </div>
                </div>
                <div class="card-body">

                </div>
            </div>

        </div>

        <div class="col-lg-4 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">HULU</h6>
                </div>
                <div class="text-lg font-weight-bold text-black text-uppercase mb-1">
                    <div class="card-body">
                        <img class="img-fluid px-3 px-sm-1 mt-3 mb-4"
                             style="width: 200px; display: block; margin: 0 auto;"
                             src="{% static 'img/hulu.png' %}" alt="...">
                        <p>Hulu</p>
                        <h6>Hulu는 월트 디즈니 컴퍼니, 워너미디어, 컴캐스트, 21세기 폭스의 합작으로 설립된 OTT플랫폼입니다. 현재는 디즈니 산하에 있습니다.
                            Hulu를 접속하려면 아래 링크를 클릭하세요.</h6>
                        <a target="_blank" rel="nofollow" href="https://www.hulu.com/">Hulu 페이지 바로가기&rarr;</a>
                    </div>
                </div>
                <div class="card-body">

                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">PRIME VIDEO</h6>
                </div>
                <div class="text-lg font-weight-bold text-black text-uppercase mb-1">
                    <div class="card-body">
                        <img class="img-fluid px-3 px-sm-1 mt-3 mb-4"
                             style="width: 250px; display: block; margin: 0 auto;"
                             src="{% static 'img/pvlogo.png' %}" alt="...">
                        <p>Prime Video</p>
                        <h6>Amazon Prime Video은 미국 아마존 주식회사에서 운영하는 OTT 플랫폼입니다.
                            Prime Video를 접속하려면 아래 링크를 클릭하세요.</h6>
                        <a target="_blank" rel="nofollow" href="https://www.primevideo.com/">Prime Video 페이지
                            바로가기&rarr;</a>
                    </div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>


        <div class="col-lg-4 mb-4">

            <!-- DATAO's tool -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">DATAO's tool</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-1 mt-3 mb-4" style="width: 40rem;"
                             src="{% static 'img/tool.jpg' %}" alt="...">
                        <img class="img-fluid px-3 px-sm-1 mt-3 mb-4" style="width: 40rem;"
                             src="{% static 'img/tool2.jpg' %}" alt="...">
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7 mb-4">
            <div class="card shadow mb-8">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Introduce DATAO</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 font-weight-bold text-dark">DATAO 페이지에 오신 것을 환영합니다!</h6><br>
                    <p>DATAO는 멀티캠퍼스 빅데이터 기반 지능형 서비스 개발 과정을 수강 중인
                        B반 2조 DATAO 팀이 개발한 페이지입니다. OTT 플랫폼의 영화 데이터를 왼쪽 각 탭을 클릭해서 살펴볼 수 있습니다.
                    </p>
                    <p>
                    <li>각 탭마다 차트를 통해 정확한 정보를 파악할 수 있습니다.</li>
                    <li>쏟아지는 OTT 플랫폼 시장에서 사용자의 OTT 플랫폼 선택에 도움을 줄 수 있습니다.</li>
                    <li>정보 탐색 후 메인 페이지에서 바로가기를 통해 OTT 플랫폼으로 이동할 수 있습니다.</li>
                    </p>
                    <p>Hello! This is the DATAO page that helps you choose the best OTT platform.
                        There are 4 popular platforms, Netflix, Hulu, Pirme Video, and Disney+.</p>
                    <p>Come and get the right information. Enjoy your time with lots of movies!</p>
                    <a target="_blank" rel="nofollow" href="https://github.com/Songgplant">프로젝트 코드 보러가기&rarr;</a>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-8">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">DATAO TEAM</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 font-weight-bold text-dark">DATAO 팀 소개</h6><br>
                    <p>2021년 5월부터 멀티캠퍼스 빅데이터 기반 지능형 서비스 개발 과정을 수강하고 있습니다.
                    </p>
                    <p>
                    <li>류청하 : 수학과 / 전자전기공학부</li>
                    </p>
                    <p>
                    <li>송재현 : 경영학과 / 빅데이터연계전공</li>
                    </p>
                    <p>
                    <li>조운기 : 미디어커뮤니케이션학과</li>
                    </p>
                    <p>
                    <li>최현수 : 물리학과</li>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>