<!--담당 : 조운기-->
<!DOCTYPE html>
{% load static %}
<script>
</script>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">MoviesOnStreamingPlatforms Chart</h1>
    <p class="mb-4">여기는 운기님이 만드신 차트입니다. cwk.py에서 df불러오기랑 이미지 저장 코드 수정했어요 프로젝트 내 static으로 옮겨야 해서요
        <a target="_blank" href="https://www.chartjs.org/docs/latest/">official Chart.js
            documentation</a>.</p>

    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
                </div>
                <div class="card-body">
                    <div id="container2">
                        <img src="/static/img/matrix.png" width=800 height=800 alt=" ">
                    </div>
                    <p><cite>MoviesOnStreamingPlatforms</cite></p>
                    <hr>
                    Styling for the area chart can be found in the
                    <code>/js/demo/chart-area-demo.js</code> file.
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5 mb-4">
            <div class="card shadow mb-8">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">아님 여기다가 설명..?</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 font-weight-bold text-dark">Introduce DATAO</h6><br>
                    <p>어쩌구저쩌구 소개</p>
                    <p>
                    <li>어쩌구</li>
                    <li>어쩌구</li>
                    <li>어쩌구</li>
                    </p>
                    <p>Before working with this theme, you should become familiar with the
                        Bootstrap framework, especially the utility classes.</p>
                    <p>두 문단 가능 ou should become familiar with the
                        Bootstrap framework, especially the utility classes.</p>
                    <p>근데 이 창 높이는 어떻게 조절하는 걸까요~?</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->