<!--담당 : 조운기-->
<!DOCTYPE html>
{% load static %}
<script>
</script>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">산점도 행렬 분석 결과</h1>
    <p class="mb-4">변수: 상영시간, 로튼 토마토, 평점, 영화개봉년수</p>

    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Scatter Plot Matrix</h6>
                </div>
                <div class="card-body">
                    <div id="container2">
                        <img src="/static/img/matrix.png" width=800 height=800 alt=" ">
                    </div>
                    <p><cite>MoviesOnStreamingPlatforms</cite></p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-xl-10 col-lg-5 mb-4">
            <div class="card shadow mb-8">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">산점도 행렬에 대한 주요 결과 해석</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 font-weight-bold text-dark">산점도 행렬을 해석하려면 다음 단계를 수행하십시오.</h6><br>
                    <p>이 항목의 내용</p>
                    <p>
                    <li>1단계: 모형 관계 검색 및 강도 평가</li>
                    <li>2단계: 그룹 관련 패턴 확인</li>
                    <li>3단계: 다른 패턴 찾기</li>
                    </p>
                    <h6 class="m-0 font-weight-bold text-dark">1단계: 모형 관계 검색 및 강도 평가</h6><br>

                    <p>변수 쌍 사이의 모형 관계를 찾아봅니다. 어느 모형 관계가 데이터에 가장 적합한지 확인하고 관계의 강도를 평가합니다.
                        모형이 데이터에 적합한 경우 해당 모형에 대한 회귀 방정식을 사용하여 데이터를 설명할 수 있습니다.
                        특정 모형이 데이터를 얼마나 잘 적합하는지 확인하려면 적합 회귀선을 추가합니다.</p>

                    <div class="jumplinks">관계 유형
                        <div>
                            <figure class="fig group - cols2 ">
                                <div class="figgroup float">
                                    <img class="image" src="/static/img/scatterplot_linear_relationship.png">
                                    <h6 class="figGroupTitle">선형: 양</h6></div>
                                <div class="figgroup float">
                                    <img class="image" src="/static/img/scatterplot_linear_relationship_negative.png">
                                    <h6 class="figGroupTitle">선형: 음</h6></div>
                                <div class="figgroup float">
                                    <img class="image" src="/static/img/scatterplot_quadratic_model.png">
                                    <h6 class="figGroupTitle">곡선: 2차</h6></div>
                                <div class="figgroup float">
                                    <img class="image" src="/static/img/scatterplot_cubic_relationship.png">
                                    <h6 class="figGroupTitle">곡선: 3차</h6></div>
                                <div class="figgroup float">
                                    <img class="image" src="/static/img/scatterplot_no_relationship.png">
                                    <h6 class="figGroupTitle">아무런 관계도 없음</h6></div>
                                <div class="clearing"></div>
                            </figure>
                        </div>

                        <h6 class="m-0 font-weight-bold text-dark">관계 유형</h6><br>
                        <img class="image" src="/static/img/scatterplot_linear_relationship.png">
                        <p>데이터가 모형에 적합한 것으로 보이면 회귀 분석을 사용하여 모형을 조사할 수 있습니다.</p>
                        <h6 class="m-0 font-weight-bold text-dark">관계의 강도</h6><br>
                        <img class="image" src="/static/img/scatterplot_linear_relationship.png">
                        <p>데이터가 모형에 얼마나 가깝게 적합하는지 평가하여 X와 Y 간 관계의 강도를 추정합니다.
                            관계가 강하면 회귀 방정식이 데이터를 정확하게 모형화합니다.
                            적합 회귀선이 있으면 적합 회귀선 위에 포인터를 놓아 회귀 방정식과 R-제곱 값을 표시합니다.
                            R-제곱 값이 클수록 회귀 방정식이 데이터를 더 정확하게 모형화합니다.</p>
                    </div>

                    <figure class="fig group - cols2 ">
                        <div class="figgroup float">
                            <img class="image" src="/static/img/scatterplot_weak_positive_relationship.png">
                         <h6 class="figGroupTitle">약한 관계</h6></div>
                        <div class="figgroup float">
                            <img class="image" src="/static/img/scatterplot_strong_positive_relationship.png">
                            <h6 class="figGroupTitle">강한 관계</h6></div>
                        <div class="clearing"></div>
                    </figure>

                    <p>선형(직선) 관계의 강도를 수량화하려면 상관 분석을 사용하십시오. </p>
                    <div id="step-2-look-for-group-related-patterns" lang="ko-KR" class="topic concept mtbconcept">
                    </div>

                    <h6 class="m-0 font-weight-bold text-dark">2단계: 그룹 관련 패턴 확인</h6><br>
                    <p>산점도 행렬에 그룹이 있는 경우 그룹 관련 패턴을 찾아볼 수 있습니다. 관측치 그룹 간 x-y 관계의 차이를 확인합니다.
                        그래프에 그룹화 변수를 포함하지 않더라도 의미 있는 그룹을 식별할 수 있습니다. 의미 있는 그룹을 찾으면 데이터를 더 정확하게 설명할 수 있습니다.
                        다음 그래프는 그룹 관련 패턴의 예입니다.</p>

                    <dt class="dt dlterm first">기울기가 서로 다른 그룹</dt>
                    <dd class="dd">그룹의 기울기가 가파를수록 x-값의 변화가 y-값의 더 큰 변화와 연관됩니다.
                        <img class="image" src="/static/img/scatterplot_groups_diff_slopes.png"></dd>

                    <dt class="dt">위치가 서로 다른 그룹</dt>
                    <dd class="dd">한 그룹의 특정 각 x-값에 대한 y-값이 다른 그룹보다 일관되게 더 높습니다.
                        <img class="image" src="/static/img/scatterplot_groups_dif_loc.png"></dd>

                    <dt class="dt">군집의 그룹</dt>
                    <dd class="dd"> 이 산점도의 세 군집은 세 그룹을 나타냅니다.
                        <img class="image" src="/static/img/scatterplot_groups_cluster.png">
                    </dd>

                    <dt class="dt">그룹 관련 패턴 없음</dt>
                    <dd class="dd"> 이 두 그룹은 서로 다른 것으로 보이지 않습니다.
                        <img class="image" src="/static/img/scatterplot_groups_no_pattern.png"></dd>
                    <p class="p">데이터에 그룹이 포함되어 있다고 생각되면 그래프에 그룹화 변수를 추가하여 그룹을 시각화할 수 있습니다.
                        데이터 점을 두 번 클릭하고 <span class="ph uicontrol - current ">그룹</span> 탭을 선택하십시오. </p>

                    <h6 class="m-0 font-weight-bold text-dark">3단계: 다른 패턴 찾기</h6><br>
                    <p>특이치는 데이터의 비정상적인 조건을 나타낼 수도 있습니다. 시간 기반 추세는 변화하는 데이터 조건을 나타낼 수도 있습니다.
                        특이치
                        다른 데이터 값에서 멀리 떨어져 있는 데이터 값인 특이치는 결과에 크게 영향을 미칠 수 있습니다.</p>
                    <div class="jumplinks">산점도에서는 고립된 점이 특이치를 나타냅니다.
                        <div><img class="image" src="/static/img/scatterplot_outlier.png">
                            <div class="jumplinks">특이치의 원인을 식별해 보십시오.
                                <div> 모든 데이터 입력 또는 측정 오류를 수정하십시오.
                                    비정상적인 일회성 사건과 연관된 데이터 값을 삭제해 보십시오(특수 원인). 그런 다음 분석을 반복하십시오. 시간 기반 추세
                                    X 변수에 순서대로 기록된 일련의 시간 또는 데이터 값이 포함된 경우 시간 기반 추세를 찾습니다.
                                    <!--산점도에 연결 선을 추가하려면 산점도를 활성화한
                                    상태에서-->
                                    <div class="figgroup float"><img class="image" src="/static/img/time_series_plot_time_cycling.png">
                                        <h6 class="figGroupTitle">주기 추세</h6>
                                    <div class="figgroup float"><img class="image" src="/static/img/time_series_plot_checK_data_for_patterns_over_time.png">
                                        <h6 class="figGroupTitle">증가 추세</h6></div>
                                    <div class="clearing"></div>
                                </div>
                            </div>
                        </div>

                        <script type="text/javascript" src="/ko-kr/minitab/18/themes/js/modernizr-2.6.2.js"></script>
                        <script type="text/javascript" src="/ko-kr/minitab/18/themes/js/MC.siteSearch.js"></script>
                        <script type="text/javascript" src="/ko-kr/minitab/18/themes/js/minitabCommon.js"></script>
                        <script type="text/javascript" src="/ko-kr/minitab/18/themes/js/support.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->