<!--담당 : 송재현-->
<!DOCTYPE html>
{% load static %}
<script>
    function display1(data){
        Highcharts.chart('container1', {
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },
            title: {
                text: 'IMDb 지수와 Runtime간 관계 파악'
            },
            subtitle: {
                text: '플랫폼별 Runtime과 IMDb 산포도 그래프'
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: 'Runtime(min)'
                },
                startOnTick: true,
                endOnTick: true,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'IMDb(0.0~10.0)'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                backgroundColor: Highcharts.defaultOptions.chart.backgroundColor,
                borderWidth: 1
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x} min, {point.y} score'
                    }
                }
            },
            series: data
        });
    };

//----------------------사용자 입력 후 서버요청 받기-------------------------
    function getdata(ott){
        $.ajax({
            url:'sp',
            data:{ott: ott},
            type:'get',
            datatype:'json',
            success:function(data){
                display1(data)},
            error:function(){
                 alert("getdata실패")}
        });
    };

    $(document).ready(function(){
        $('#bt').click(function(){
            ott = $('select[name="ott"]').val();
            getdata(ott);
        });
    });
</script>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">IMDb별 Runtime별 분포도</h1>
    <p class="mb-4">OTT 플랫폼을 선택하여 해당 OTT별 영화의 IMDb평점과 Runtime의 분포를 파악하세요.</p>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-8 col-lg-9">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Scatter Plot</h6>
                </div>
                <div class="card-body">
                    <select name="ott">
                        <option value="Netflix">Netflix</option>
                        <option value="Hulu">Hulu</option>
                        <option value="Prime Video">Prime Video</option>
                        <option value="Disney+">Disney+</option>
                    </select>
                    <button id="bt">SEARCH</button>
                    <br>
                    <div id="container1"></div>
                    <hr>
                    Netflix : red, Hulu : yellowgreen, Prime Video : skyblue, Disney+ : blue
                </div>
            </div>

        </div>

        <div class="col-xl-4 col-lg-5 mb-4">
            <div class="card shadow mb-8">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">차트 설명</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 font-weight-bold text-dark">Scatter Plot(산포도)을 이용한 데이터 분석</h6><br>
                    <p>선택창에서 플랫폼을 선택하고 'SEARCH'버튼을 클릭하세요.</p>
                    <p>선택한 OTT에서 Runtime별 IMDb 지수의 분포를 파악할 수 있습니다.</p>
                    <p>
                    <li>IMDB 평점 범위 : 최소 0점, 최대 10점</li>
                    <li>Runtime : 영화 상영 시간. 최대 180분(3시간)까지의 영화를 대상으로 합니다.</li>
                    </p>
                    <p>그래프를 통해서 영화의 보편적 상영시간(Runtime)인 1시간~2시간에 산포도가 밀집한 걸 알 수 있습니다.
                        대체로 IMDB 6점~8점의 구간에 영화가 분포한 것을 확인할 수 있습니다.
                    </p>
                    <a target="_blank" rel="nofollow" href="https://github.com/Songgplant">여기에 넣고 싶은 주소를&rarr;</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /.container-fluid -->