<!DOCTYPE html>
{% load static %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Naver Movies Data Search</h1>
    <p class="mb-4">OTT 플랫폼에 스트리밍 중인 영화에서 찾기 힘들면 네이버에 등록된 영화를 검색합니다.
        <br>한국말로 검색할 수 있습니다.</p>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Naver DataTable
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Opening date</th>
                    <th>audience rating</th>
                    <th>Directors</th>
                    <th>Genres</th>
                    <th>Actor</th>
                    <th>Runtime</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Title</th>
                    <th>Opening date</th>
                    <th>audience rating</th>
                    <th>Directors</th>
                    <th>Genres</th>
                    <th>Actor</th>
                    <th>Runtime</th>
                </tr>
                </tfoot>
                <tbody>
                {% for p in data %}
                <tr>
                    <td>{{p.Title}}</td>
                    <td>{{p.Opening_date}}</td>
                    <td>{{p.audience_rating}}</td>
                    <td>{{p.Directors}}</td>
                    <td>{{p.Genres}}</td>
                    <td>{{p.Actor}}</td>
                    <td>{{p.Runtime}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="{% static 'js/datatables-simple-demo.js' %}"></script>