<!--담당 : 최현수-->
<!-- 년도별 영화 장르 검색
해당 년도에 어느 장르의 영화가 많은지 조회-->
<!DOCTYPE html>
{% load static %}
<script>
    function display(data){
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: '연도별 장르별 영화갯수'
            },
            subtitle: {
                text: '전체장르의 목록이 궁금하다면: <a href="https://en.wikipedia.org/wiki/List_of_genres">Click here!</a>'
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Genre Count'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'number of genre: <b>{point.y:.1f}</b>'
            },
            series: [{
                name: 'Population',
                colorByPoint: true,
                data: data,
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#12BF4C',
                    align: 'right',
                    format: '{point.y:.1f}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '9px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
    };

//----------------------사용자 입력 후 서버요청 받기-------------------------
        function getdata(year){
            $.ajax({
                url:'chs1',
                datatype:'JSON',
                data:{year:year},
                success:function(data){
                    display(data);
                }
            });
        };

        $(document).ready(function(){
            $('#getdata').click(function(){
                year = $('#year').val();
                getdata(year);
            });
        });
</script>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Year별 Genres별 분포도</h1>
    <p class="mb-4">이 페이지에서는 입력한 연도에서 장르별 영화가 몇 개 있는지 파악하실 수 있습니다.</p>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-7 col-lg-9">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Distribution by Genres by Year</h6>
                </div>
                <div class="card-body">
                    <div>
                        <input type="number" id="year">
                        <button id="getdata">SEARCH</button>
                    </div>
                    <h5></h5>

                    <div id="container"></div>
                    <hr>
                    You can only enter years after (1912 ~ 2020).
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-5 mb-4">
            <div class="card shadow mb-8">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">차트 설명</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 font-weight-bold text-dark">Column with rotated label을 이용한 데이터 분석</h6><br>
                    <p>입력창에서 원하는 연도를 입력하고 'SEARCH'버튼을 클릭하세요.</p>
                    <p>우리는 1912년부터 2020년까지의 데이터를 제공합니다.</p>
                    <p>
                    <li>전체 장르의 종류는 위의 Click here 버튼을 클릭해 확인할 수 있습니다.</li>
                    <li>장르별 영화의 갯수는 bar 위의 숫자로 확인 하거나, 커서를 가져다대서 확인할 수 있습니다.</li>
                    <li>Genres 범위: 최대 27개의 장르를 대상으로 합니다. </li>
                    </p>

                    <a target="_blank" rel="nofollow" href="https://github.com/hakdj">여기에우리의 결과물 주소를&rarr;</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->