{% load static %}
<h1>Medical Centers for Covid19 Vaccination</h1>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Open Today</th>
                    <th>Open</th>
                    <th>Close</th>
                    <th>Tel</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Open Today</th>
                    <th>Open</th>
                    <th>Close</th>
                    <th>Tel</th>
                </tr>
            </tfoot>
            <tbody>
            {% for d in result %}      <!--d가 하나의 사전-->
                <tr>
                    <td>{{d.orgnm}}</td>
                    <td>{{d.orgZipaddr}}</td>
                    <td>{{d.hldyYn}}</td>
                    <td>{{d.sttTm}}</td>
                    <td>{{d.endTm}}</td>
                    <td>{{d.orgTlno}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer small text-muted">Updated on {{result.0.dywk}}, {{result.0.slrYmd}}</div>
</div>

<!--Day19_dashboard에서 발췌-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="{% static 'js/datatables-simple-demo.js' %}"></script>
